body, div, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
body {
	-epub-hyphens:auto;
}
div.Basic-Graphics-Frame {
	border-color:#000000;
	border-width:1px;
	border-style:solid;
}
div.Basic-Text-Frame {
	border-style:solid;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0;
	margin-left:0;
	margin-right:0;
	margin-top:0;
	orphans:1;
	page-break-after:auto;
	page-break-before:auto;
	text-align:left;
	text-decoration:none;
	text-indent:0;
	text-transform:none;
	widows:1;
}
p.ParaOverride-1 {
	text-align:center;
}
span.CharOverride-1 {
	color:#ffffff;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:118px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:118px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"Kohinoor Devanagari", sans-serif;
	font-size:26px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"Kohinoor Devanagari", sans-serif;
	font-size:118px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:53px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:22px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:91px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:91px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-9 {
	font-family:"Avenir Next Condensed", sans-serif;
	font-size:19px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer000 {
	display:inline-block;
	height:1068px;
	width:1633px;
}
#_idContainer003 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:168.00px;
	z-index:1;
}
#_idContainer004 {
	-ms-transform:translate(207.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(207.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(207.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(207.999px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:168.00px;
	z-index:0;
}
#_idContainer005 {
	-ms-transform:translate(407.748px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(407.748px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(407.748px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(407.748px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:168.00px;
	z-index:2;
}
#_idContainer006 {
	-ms-transform:translate(607.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(607.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:35.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(607.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(607.496px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:190.25px;
	z-index:3;
}
#_idContainer007 {
	display:inline-block;
	height:35px;
	position:relative;
	width:798px;
}
#_idContainer008 {
	display:inline-block;
	height:142px;
	width:378px;
}
#_idContainer009, #_idContainer027, #_idContainer042 {
	display:inline-block;
	height:700px;
	width:1636px;
}
#_idContainer011 {
	display:inline-block;
	height:167px;
	width:167px;
}
#_idContainer015, #_idContainer021, #_idContainer024, #_idContainer029, #_idContainer034, #_idContainer036, #_idContainer038 {
	display:inline-block;
	height:168px;
	width:168px;
}
#_idContainer017 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:244.50px;
	z-index:0;
}
#_idContainer018 {
	-ms-transform:translate(244.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(244.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(244.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(244.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:151.75px;
	z-index:1;
}
#_idContainer019 {
	display:inline-block;
	height:112px;
	position:relative;
	width:396px;
}
#_idContainer031 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:160.50px;
	z-index:0;
}
#_idContainer032 {
	-ms-transform:translate(160.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(160.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(160.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(160.499px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:448.00px;
	z-index:1;
}
#_idContainer033 {
	display:inline-block;
	height:112px;
	position:relative;
	width:608px;
}
#_idContainer041 {
	display:inline-block;
	height:698px;
	width:492px;
}
#_idContainer047 {
	-ms-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:162.00px;
	z-index:0;
}
#_idContainer048 {
	-ms-transform:translate(164.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-ms-transform-origin:0% 0%;
	-webkit-transform:translate(164.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:112.00px;
	left:0px;
	overflow:hidden;
	position:absolute;
	top:0px;
	transform:translate(164.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform:translate(164.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	transform-origin:0% 0%;
	width:239.75px;
	z-index:1;
}
#_idContainer049 {
	display:inline-block;
	height:112px;
	position:relative;
	width:404px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
div._idGenObjectStyleOverride-1 {
	border-width:0px;
}
div._idGenObjectStyleOverride-2 {
	background-color:#000000;
}
div._idGenObjectStyleOverride-3 {
	background-color:#ffffff;
}
div._idGenObjectStyleOverride-4 {
	background-color:#55b7be;
	border-bottom-left-radius:36px;
	border-bottom-right-radius:36px;
	border-top-left-radius:36px;
	border-top-right-radius:36px;
}
div._idGenObjectStyleOverride-5 {
	background-color:#6b6b7f;
	border-width:0px;
}
div._idGenObjectStyleOverride-6 {
	border-color:#000000;
	border-style:solid;
	border-width:1px;
}
div._idGenObjectStyleOverride-7 {
	background-color:#000000;
	border-width:0px;
}
div._idGenObjectStyleOverride-8 {
	background-color:#b1b1bb;
	border-width:0px;
}
div._idGenObjectLayout-1 {
	text-align:center;
}
